@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    text-align: center;
}
header{
    background-color: aliceblue;
}
h1{
    font-weight: bold;
}
body{
    background-color: antiquewhite;
}
